@media (max-width:375px)
{
    main{
        max-width: 330px;
        min-height: 500px;
        border-radius: 20px;
        background-color: var(--Very-pale-blue);
        overflow: hidden;
        margin: 20px;
    }
    main header{
        margin-bottom: 25px;
    }
    main article p{
        color: var(--Desaturated-blue);
        font-weight: 500;
        margin: 0 30px 20px 30px;
        margin-bottom: 30px;
    }
} 